<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cz.launcher.overlay.server">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".home.LauncherOverlayHomeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cz.server.home.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>

        <service android:name=".notification.LauncherOverlayNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cz.server.notification.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>

        <service android:name=".user.LauncherOverlayUserService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cz.server.user.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>
    </application>

</manifest>