<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cz.launcher.overlay.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scroll.ScrollSampleActivity" />
        <activity android:name=".dialog.DualScreenSampleActivity" />
        <activity android:name=".tab.TabSampleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fixed.NestedWindowSampleActivity" />

        <service
            android:name=".fixed.service.LauncherOverlayService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <service
            android:name=".scroll.service.LauncherScrollOverlayService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <!-- ======================================================================= -->
        <!-- All the services related to the tab-->
        <!-- ======================================================================= -->
        <service android:name=".tab.home.LauncherOverlayHomeService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.cz.server.home.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>

        <service android:name=".tab.notification.LauncherOverlayNotificationService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.cz.server.notification.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>

        <service android:name=".tab.user.LauncherOverlayUserService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.cz.server.user.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>
    </application>

</manifest>